<div class="container mt-5">



  <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-item nav-link active" id="nav-home-tab"   (click)="signIn()" role="tab" aria-controls="nav-home" aria-selected="true">Se connecter</button>
        <button class="nav-item nav-link" id="nav-profile-tab"  (click)="signUp()" role="tab" aria-controls="nav-profile" aria-selected="false">S'inscrire</button>
        
      </div>
    </nav>
    <router-outlet></router-outlet>
    </div>