      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-home-tab">
    
            
       
         
            <mat-card class="example-card">
              <div *ngIf="msg"  class="alert alert-danger" role="alert">
                {{msg}} 
          </div>
          <div *ngIf="msgvalidatorsf"  class="alert alert-danger" role="alert">
            {{msgvalidatorsf}} 
      </div>
           <div *ngIf="msgemaildontverified"  class="alert alert-danger" role="alert">
                {{msgemaildontverified}} 
          </div>
       
            <!-- HEADER-->
              <mat-card-header>
                    <mat-toolbar  color="primary">
                        <mat-toolbar-row>
                          <span>Login</span>
                          <mat-icon class="example-icon">verified_user</mat-icon>
                        </mat-toolbar-row>
                     
                      </mat-toolbar>
                </mat-card-header>
              <!-- body-->
                <mat-card-content class="ml-3">
                   
                            
                             <div class="example-container mt-3">
                            <mat-form-field>
                              <input matInput placeholder="Entrez votre email" [formControl]="email" required>
                              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                          </div>
                            <div class="example-container mt-3">
                            <mat-form-field>
                                <input matInput [formControl]="password" placeholder="Entrez votre password" [type]="hide ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                <mat-error *ngIf="email.invalid">{{getErrorPassword()}}</mat-error>
                             
                              </mat-form-field>
                                </div>
                                 
                                
                </mat-card-content>
                <mat-card-actions class="mb-4">
                    <div class="button-row pl-4  ">
                        <button mat-flat-button color="primary" (click)='loginfb(email.value,password.value)'>se connecter</button>
                     
                  </div>



                  <div class="row mt-4 ml-4">
           
                    <button (click)="loginWithFbook()"class="loginBtn loginBtn--facebook">
                        Se connecter avec Facebook
                      </button>
                      
                      <button (click)="loginWithGoogle()"  class="loginBtn loginBtn--google">
                        Se connecter avec Gmail
                      </button>
      
                  </div>
        
                </mat-card-actions>

              </mat-card>
        
            


      

  
  



  

