
<div class="container mt-5 ">

 
    <div class="row mb-3">
      <div  >
          <img class="imguserhome" src="{{imgUser}}" alt="">
          
      </div>
      <div class="ml-2 mt-3">
          
<h3>{{username}} </h3>  
        </div>

      
    </div>
    
  

<!-- start -->

<div class="container-fluid h-100">
  <div class="row h-100">
      <aside class="col-12 col-md-2 p-0 aside-nav-book " >
          <nav class="navbar navbar-expand   flex-md-column flex-row align-items-start py-2 aside-nav-book">
              <div class="collapse navbar-collapse">
                  <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item">
                          <a class="nav-link pl-0 " routerLink="./listemybooks"><i class="fa fa-book fa-fw"></i> <span class="font-weight-bold">Mes livres</span></a>
                      </li>
                    
                      <li class="nav-item">
                          <a class="nav-link pl-0" routerLink="./newyorkstories" ><i class="fa fa-book fa-fw"></i> <span class="font-weight-bold">New York Times stories</span></a>
                      </li>
                    
                      <li class="nav-item">
                       <a class="nav-link pl-0" (click)="logout()" routerLink="/home" ><i class="fa fa-book fa-fw"></i> <span class="font-weight-bold">Se deconnecter</span></a>
                        <!-- <button mat-raised-button color="primary" (click)="logout()">Se deconnecter</button> -->
                      </li>
                  </ul>
              </div>
          </nav>
      </aside>
      <main class="col  py-3">
   <router-outlet></router-outlet>
      </main>
  </div>
</div>

<!-- end -->
 
 
  
</div>

    


