

<mat-card class="example-card">

   <div *ngIf="msg"  class="alert alert-danger" role="alert">
                {{msg}} 
          </div>
<!-- HEADER-->
  <mat-card-header>
        <mat-toolbar  color="primary">
            <mat-toolbar-row>
              <span>Inscription</span>
              <mat-icon class="example-icon">verified_user</mat-icon>
            </mat-toolbar-row>
               
          </mat-toolbar>
    </mat-card-header>
  <!-- body-->
    <mat-card-content>
       <div class="row mt-5">
           <div class="col-sm-6">         
              <div class="example-container mb-3 pl-5">
            <mat-form-field>
                <mat-hint align="end">{{username.value?.length || 4}} lettres minimum</mat-hint> 
              <input matInput #usernames minlength="4" placeholder="Entrez votre username" [formControl]="username"  required>
             
              <mat-error *ngIf="username.invalid"> {{getErrorMessageUsername()}}</mat-error>
              

<!--               
              <input matInput #input maxlength="10" placeholder="Enter some input">
              <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->


            </mat-form-field>
          </div>


            <div class="example-container mb-3 pl-5">
                <mat-form-field>
                  <input matInput #emails  placeholder="Entrez un email valide" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                  <mat-hint align="end">*vous allez recevoir un email de confirmation</mat-hint> 
                </mat-form-field>
              </div>




                <div class="example-container mb-3 pl-5">
                <mat-form-field>
                    <input matInput #passwords  placeholder="Entrez votre password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </mat-form-field>
                    </div>
          </div>

      

<div class="col-sm-6 ">
    <div class="example-container mb-3 pr-5">
        <mat-form-field>
            <input matInput placeholder="Confirmez votre password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
            </div>

            </div>

            </div>
    </mat-card-content>
    <mat-card-actions class="mb-4">
        <div class="button-row pl-5  ">
          <div class="row">
            <button (click)="createUser(emails.value,passwords.value,usernames.value)"  mat-flat-button color="primary">S'enregistrer</button>
            
          </div>
       </div>

    </mat-card-actions>
  </mat-card>
